.panel{
    background-image: url("https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_960_720.jpg");
    background-size: cover;
    height: 250px;
}

h3, link{
    color: white;
}
.banner{
    margin-top: 80px;
}